# --- Settings ---
CORS_ORIGINS=["*"]  # prod: https://example.com

# --- Application ----
APP__TITLE="FastAPI Starter"
APP__DOCS_URL="/docs"             # prod: empty
APP__REDOC_URL="/redoc"           # prod: empty
APP__OPENAPI_URL="/openapi.json"  # prod: empty

# --- Database ----
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__NAME=db_name
DB__POOL_SIZE=50